/*common begin*/
body{
  font:12px / 1.5 tahoma,arial,宋体b8b\4f53;
  /*font-size: 14px;*/
  color: #333333;
  background-color: #FFFFFF;
}
body, h1, h2, h3, h4, h5, h6, p, pre, blockquote, dl, dt, dd, ul, ol, li, form, fieldset, legend, input, textarea, button, th, td {
	margin: 0;
	padding: 0;
}
a{
	color: black;
	text-decoration: none;
}
img{
	border:none;
}
/*common end*/
.header, .container{
	width:980px;
	margin: 0 auto;
}

.header{
	padding: 10px 0px;
	height: 60px;
	background: url(/img/header-bg.png);
}
.logo{
	height: 60px;
	width: 220px;
	display: block;
	background: url(/img/logo.png);
}
.nav-bar-top{
	height: 39px;
	line-height: 37px;
	font-size: 14px;
	font-weight:bold;
	color: white;
	padding-top: 1px;
	background: url(/img/top-nav-bg.jpg) repeat-x;
}
.nav-bar-top>ul{
	height: 37px;
	line-height:37px;
}
.nav-bar-top>ul>li
{
	float: left;
	width:90px;
	background: url(/img/top-nav-sep.jpg) no-repeat;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.nav-bar-top li>a{
	width:90px;
	color: white;
	display: block;
}
.nav-bar-top-hover{
	background-color: #FFFFFF;
	color: #900!important;	
}
.nav-bar-top .active
{
	background: url(/img/top-nav-active-bg.jpg) repeat-x;
}
.nav-sub-box{
	border-top: 0px solid transparent;
	border-left: 2px solid #9B0000;
	border-right: 2px solid #9B0000;
	border-bottom: 2px solid #9B0000;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	position: absolute;
	top:118px;
	color: black;
	background-color: white;
	display: none;
	z-index: 999999;
	/*box-shadow:0 0 10px #06C;*/
	/*box-shadow:2px 1px 10px #9B0000;*/
}
.nav-sub-box a{
	color: black;
}
.nav-sub-detail-box{
	float:left;
	width:280px;
}
.nav-sub-detail-item{
	text-align: left;
	line-height:10px;
	margin: 5px 0 5px 5px;
	overflow: hidden;
	width: 280px;
	float: left;
}
.nav-sub-detail-item dt{
	padding-left: 8px;
	color: #900;
	font-weight: 600;
	line-height: 16px;
	margin: 0 0 4px 0;
}

.nav-sub-detail-item dd{
	float: left;
}
.nav-sub-detail-item dd a{
	padding: 4px 8px;
	color: #666!important;
	display: block;
	float: left;
	_float: left;
	white-space: nowrap;
	font-weight:normal;
	line-height: 16px;
}
.nav-sub-detail-item dd a:hover{
	background-color: #FFE1E1;
	text-decoration: none;
	color: #C00;
}
.nav{
	vertical-align: middle;
}
.nav>li, .nav-v>li{
	text-align:center;
	/*display: block;*/
	list-style-type: none;
}
.nav>li
{
	float: left;
}
.ad
{
	height:355px;
	margin-top: 10px;
}
.ad-left
{
	float: left;
	width: 730px;
}
.ad-top
{
	border: 1px solid #E4E4E4;
}
.ad-bottom
{
	_margin-left:0px;
	height: 30px;
	margin-top: 0px;
	font-size: 12px;
	background-color: #DDDDDD;
}
.ad-bottom li{
	width:136px;
}
.ad-right
{
	float: right;
	width: 238px;
}
.min-bar
{
	border:1px solid #E4E4E4;
	margin-bottom: 10px;
}
.min-bar-toggle{
	height: 28px;
}
.min-bar-toggle li{
	background-color: #F8F8F8;
	text-align:center;
	border-right:1px solid #E4E4E4;
	list-style-type: none;
	float: left;
	padding: 0px 5px 0px 5px;
	cursor:default;
	width: 60px;
	line-height: 28px;
}
.min-bar-toggle .selected{
	background-color: #FFFFFF;
}
.min-bar-content{
	margin:8px 5px 0 8px;
	clear: both;
	height: 110px;
}
.min-bar-content li{
	font-size: 12px;
	line-height: 20px;
	text-align: left; 
	list-style-type: none;
}
.min-bar-content span{
	color: #C00;
	padding-right: 5px;
}
.min-bar-content a:hover{
	color: #C00;
	text-decoration: underline; ;
}
.min-bar-title{
	height: 28px;
	line-height: 28px;
	background-color: #F8F8F8;
	padding: 0px 0px 0px 5px;
}
.hot-brand
{
	margin-top: 3px;
	clear: both;
	display: block;
	height: 130px;
	_margin-left:0px;
}
.hot-brand li
{
	float:left;
	margin:2px 15px 2px 15px;
	list-style:none;
	white-space: nowrap;
	border: 1px solid #E4E4E4;
}

.floor
{
	height: 338px;
	margin-bottom: 20px;
	border: 1px solid #E4E4E4;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.floor-top{
	width:100%;height:34px;
	border-bottom: 2px solid black; 
}
.floor-top-bg{
	background:url(/img/title-bg.png); height:40px;width:204px;margin:-1px 0 0 -5px;
}
.floor-title
{
	padding-top:0px;
	line-height:35px;
	color: white;
}
.floor-name{
	margin: 0px 8px;
	color: white;
}
.hot-categorys{
	height:300px;
	width:200px;
	float: left;
	border:1px solid #DDDDDD;
	font-size: 14px;
}
.hot-categorys li{
	list-style-type: none;
	height: 30px;
	width: 200px;
	text-align: center;
	line-height: 30px;
	*margin-bottom: -3px;
}
.hot-categorys div{
	height: 30px;
	width: 100px;
	float: left;
	background-image: url(/img/hot-category-bg.png);
}
.floor .f2 div{
	background-position: left -31px;
}
.floor .f3 div{
	background-position: left -62px;
}
.floor .f4 div{
	background-position: left -93px;
}
.floor .f5 div{
	background-position: left -124px;
}
.hot-categorys a{
	width: 100px;
	display: block;
	color: white;
}
.hot-categorys div:hover{
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.floor-middle-r{
	display: block;
	position: relative;
	height: 300px;
	overflow: hidden;
	background-color:black;
	margin-left: 200px;
	margin-top: -1px;
}
.floor-middle_r .item{
	position: absolute !important; 
}
.floor-bottom, .box-shadow{
	height: 12px;
	font-size: 0;
	background: url(/img/banner-bottom.jpg) no-repeat;
}

/**list start**/
.box{
	border:1px solid #DDDDDD;
	border-radius:0 0 3px 3px;
	box-shadow:2px 2px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow:2px 2px 5px rgba(0,0,0,.3);
	-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, .3);
}
.box1{
	border:1px solid #DDDDDD;
	border-radius:0 0 3px 3px;
	box-shadow:0px 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, .3);
}
.category
{
	width:200px;
	margin:0px 10px 10px 0;
	padding-bottom:20px;
	background-color:#FAFAFA;
	float: left;
}
.cate-title{
	width:100%;
	height: 30px;
	background: url(/img/cate-bg.png);
	text-align: center;
	line-height: 25px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}
.cate-list{
	padding:0px 10px 0px 10px;
}
.cate-item{
	clear:both;
	padding-top: 10px;
}
.cate-item li{
	line-height: 20px;
	width:70px;
	text-align: left;
	padding: 0 6px 0 6px;
	border-radius: 12px;
}
.cate-item li:hover{
	background-color: #FFE1E1;
}
.cate-name{
	padding-left: 5px;
	font-size: 14px;
	font-weight: bold;
}
.line{
	width:100%;
	color: red;
}
/**list end**/

/**product start**/
.pd-box{
	width:770;min-height:200px;height:auto;margin-left:220px;margin-top:10px;display:block;
}
.pd{
	padding: 0px 5px;
	height: 400px;
}
.pd-title h3{
	line-height: 28px;
	height: 28px;
	font-size: 14px;
	text-align: left;
}
.pd-property-l{
	float:left;
	width:310px;
}
.pd-img{
	width: 300px;
	height: 300px;
	border: 1px solid #DDDDDD;
}
.pd-img img{
	max-width:310px;
	max-height: 310px;
}
.pd-img-thumb{
	margin:20px 0 0 0px;
	clear:both;
	height: 42px;
}
.pd-img-thumb li{
	list-style-type: none;
	float: left;
	margin: 0 6px 0 0;
	overflow: hidden;
	border: 1px solid #DDDDDD;
}
.pd-img-thumb .selected{
	background: #C30008;
	padding: 2px;
	height: 40px;
}
.pd-property-r{
	width: 430px;
	margin-left: 320px;
}
.pd-meta li{
	list-style-type: none;
	line-height: 25px;
}
.pd-meta li span{
	color:#999;
	text-align: left;
	width: 62px;
	padding-left: 10px;
	float: left;
}
.pd-meta em{
	color:#C00;
	font-family:arial;
}
.pd-meta .price{
	color: #C00;
	font-weight: 700;
	font-size: 20px;
	margin-left: 3px;
}
.pd-sku{
	border:1px solid #F7F5F3;
	background-color: #F9F9F9;
	border-radius:3px;
	padding: 10px 10px 10px 5px;
}
.pd-sku-options{
	margin-top: 10px;
	float:left;
}
.pd-sku-options span{
	float: left;
}

.pd-sku-options ul{
	margin-left: 60px
}
.pd-sku-options li{
	list-style-type: none;
	float: left;
	margin: 2px 6px 2px 6px;
}
.pd-sku-options span{
	color:#816957;
}
.pd-sku-options li a{
	display: block;
	border: 1px solid #E2E1E3;
	border-radius: 4px;
	min-width:10px;
	padding: 0 6px;
}
.pd-sku-options a:hover{
	border: 2px solid #C60D0D;
	margin:-1px;
}
.pd-sku-options a{
	text-align: center;
	min-width: 10px;
	height: 26px;
	line-height: 26px;
	color: black;
}
.pd-action{
	float: left;
	margin:15px 10px 10px 30px;
}
.pd-action-buy, .pd-action-basket{
	float: left;
	margin-right: 20px;
}
.pd-action-buy a, .pd-action-basket a{
	width: 132px;
	background-color: #AAAAAA;
	float: left;
	height: 38px;
	line-height: 38px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	text-shadow: -1px -1px #870E0C;
	border-radius: 4px;
}
.clearfix{
	clear:both;
}

.pd-nav{
	border-bottom: 2px solid #C00;
	padding-left: 7px;
	height: 30px;
	margin-bottom: 10px;
}
.pd-nav li{
	border-color: #F60;
	list-style-type: none;
	border: 1px solid #CCC;
	border-color: #A60000;
}
.pd-nav a{	
	font-weight: bold;
	height: 29px;
	line-height: 28px;
	color: #333;
	padding: 8px 20px;
}
.pd-nav .selected{
	border-left: 2px solid #C00;
	border-top: 2px solid #C00;
	border-right: 2px solid #C00;
	background: white;
	border-bottom: 2px solid white;
}
/**product end**/









ul.slidy-menu {
	margin: 0;
	padding: 0;
}

ul.slidy-menu li {
	background-color: #ffa500;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
	float: left;
	list-style: none;
	text-align: center;
	vertical-align: middle;
}

ul.slidy-menu li a {
	color: #F1F1F1;
	cursor: pointer;
	display: block;
	font: 11px sans-serif;
	height: 23px;
	letter-spacing: 1px;
	padding-top: 11px;
	text-decoration: none;
}

ul.slidy-menu li.slidy-link-selected a {
	background-color: #9a2a29;
	color: #FFFBDE;
	text-shadow: #444 1px 1px;
}





/***************shop start*********************/
.shop-banner{
	width: 978px;
	height:130px;
	border:1px solid #DDDDDD;
}
.shop-left-box{
	float:left; border:1px solid #DDDDDD;width:200px;box-shadow:3px 2px 10px #BBB3C1;border-radius: 4px;margin-top:10px; 
}
.shop-right-box{
	width:770;min-height:200px;height:auto;border:1px solid #DDDDDD;margin-left:220px;margin-top:10px;display:block;
}
.shop-nav{
    background-color: #DDDDDD;
    height: 28px;
}
.shop-nav, .shop-nav li{
	border-left: 1px solid #DDDDDD;
}
.shop-nav li a{
    width:80px;
    line-height: 30px;
    display: block;
}
.shop-nav li a:hover, .shop-nav .selected{
	background-color: white;
}
.shop-info{
	font-size: 12px;
	margin:10px 0px 10px 0px;
}
.shop-info>h1{
	margin:auto 0;
}
.shop-info td{
	vertical-align: top;
}
.shop-info .badges li{
	padding: 2px 5px;
}
.shop-left-top{
	background-color:#F2F2F2;height:25px;padding-left:10px;
}
.shop-left{
	padding:10px;
}
.shop-brand{
	margin:10px 0px 10px 0px;
}
.dot-line{
	color: #DDDDDD;border-style:dotted;margin:auto 0;
}
.shop-intro{
	padding:5px 15px 15px 15px;
	font-size: 14px;
	box-shadow:2px 3px 10px #BBB3C1;
}
.shop-intro h1{
	margin-bottom: 10px;
	border-bottom: 2px solid #7B2705;
}
.shop-intro table{
	width: 100%;
	border-left:1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	border-radius: 3px; 
	margin-top: 20px;
}
.shop-intro tr{
	line-height: 36px;
}
.shop-intro td{
	border-right: 1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}
.products{
	display: block;
	margin-top: 10px;
}
.products li{
	width:245px;
	height: 305px;
	background: white;
	display: inline;
	margin-right: 8px;
	padding-bottom: 10px;
}
.product-box{
	height: 295px;
	border:1px solid #DDD;
}
.product-box-hover{
	border:1px solid #888;
}
.price{
	color: red;
}
.product-img img{
	width: 243px;
	height:200px;
}
.product-title{
	padding: 2px 5px;
	font:bold 13px/1.5 "microsoft yahei";
	height:50px;
	background:#F2F2F2;
	vertical-align: middle;
	border-bottom: 1px dashed #CCC;
}
.product-desc{
	height: 45px;
}
.product-desc .price{
	line-height: 45px;
	font:bold 20px/1.5 Arial;
	color:#F36;
	float:left;
	padding:10px 5px;
}
.product-desc a{
	background: orange;
	display: inline-block;
	text-align: center;
	margin:2px 10px;
	padding: 9px 34px 11px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
	position: relative;
	cursor: pointer;
	border: none;
	font-size: 16px;
	color: white;
	float: right;
	border-radius: 4px;
}
.product-desc a:hover{
	background: #FF8A00;
}
.product-bottom{
	height: 10px;
	display: block;
	background:url('/img/box-shadow.png');
}
/***************shop end*********************/

/***************article begin****************/
.arts{
	width:700px;
	padding: 20px;
	margin:10px 0 20px 210px;
}
.art{
	margin-bottom: 20px;
}
.art-title{
	font-size: 20px;
}
.art-title a{
	color: #2A85E8;
}
.art-meta{
	font-size: 14px;
	padding: 10px;
	text-align: left;
}
.art-meta span{
	margin-right: 10px;
}
.art-pic{
	float: left;
}
.art-summary-context{
	margin-left: 180px;
	/*color: #555;*/
	font-size: 16px;
	line-height: 26px;
}
.art-summary-context p{
	text-indent: 2em;
}
.art-readmore{
	height: 35px;
	margin-bottom: 10px;
}
.readmore a{
	background: orange;
	display: inline-block;
	text-align: center;
	padding: 9px 34px 11px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
	position: relative;
	cursor: pointer;
	border: none;
	font-size: 16px;
	color: white;
	float: right;
	border-radius: 4px;
}
.readmore a:hover{
	/*background: #ff8a00;*/
	background: #c00;
}
.art hr{
	border: dashed #DDD;
	border-width: 1px 0 0;
	clear: both;
	margin: 12px 0 18px;
	height: 0;
}

.article{
	width:700px;
	padding: 20px;
	margin:10px 0 20px 210px;
}
.article h2{
	margin-bottom: 9px;
}
.article p{
	font-size: 16px;
	line-height: 26px;
	margin: 0 0 18px;
}

.hot-articles{
	padding: 5px 5px 0 20px;
}
.hot-articles a{
	font-size: 14px;
	color: #1982D1;
	font-weight: bold;
}
.hot-articles a:hover{
	text-decoration: underline;	
}
/***************article end******************/

.footer{
	text-align: center;
	margin: 0 auto;
}

.hide{
	display:none;
}